[Unit]
Description=Predbat Container
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
Requires=container-homeassistant.service
After=container-homeassistant.service
BindsTo=container-homeassistant.service
PartOf=container-homeassistant.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
RestartSec=30
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
                          --cidfile=%t/%n.ctr-id \
                          --cgroups=no-conmon \
                          --rm \
                          --sdnotify=conmon \
                          --replace \
                          --detach \
                          --name=predbat \
                          --user=predbat \
                          --userns=keep-id:uid=9005,gid=9005 \
                          --publish=5052:5052 \
                          --volume=/srv/hass/homelab/home-assistant/predbat:/config:z \
                          --volume=/srv/hass/homelab/home-assistant/secrets.yaml:/config/secrets.yaml:z \
                          --volume=/etc/localtime:/etc/localtime:ro \
                          docker.io/nipar44/predbat_addon:slim-v8.33.6
ExecStartPost=/usr/bin/tailscale serve --service=svc:predbat 127.0.0.1:5052
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
