# Home Assistant
ha_url: http://host.containers.internal:8123
ha_key: "ADD_HERE"

# Your Wi-Fi SSID and password
wifi_ssid: "ADD_HERE"
wifi_password: "ADD_HERE"

# Thread network
thread_tlv: "ADD_HERE"
