<<: !include ./.home-assistant-secrets.yaml

# Encryption keys
api_encryption_key: "ADD_HERE"
ota_password: "ADD_HERE"

# RF433 blind remote IDs (Dooya protocol)
blind_id_quarto_sofia: "0x00000000"
blind_id_quarto_lucas: "0x00000000"
blind_id_cozinha_vidro_fixo: "0x00000000"
blind_id_cozinha_porta: "0x00000000"
blind_id_sala_sinuca_direita: "0x00000000"
blind_id_sala_sinuca_esquerda: "0x00000000"
