name: Build RHEL bootc image
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "bootc-rhel/**"
  pull_request:
    branches:
      - main
    paths:
      - "bootc-rhel/**"

jobs:
  rhel-bootc-image-build:
    name: Build RHEL bootc image with repo access
    runs-on: ubuntu-latest
    env:
      # Disable Subscription Manager container passthrough
      SMDEV_CONTAINER_OFF: 1
      # Subscription Manager credentials - uses repository secrets
      # RHT_ORGID: "${{ secrets.RHT_ORGID }}"
      # RHT_ACT_KEY: "${{ secrets.RHT_ACT_KEY }}"

      # Source registry for base image
      SOURCE_REGISTRY_HOST: "registry.redhat.io"
      # Source credentials - uses repository secrets
      # SOURCE_REGISTRY_USER: "${{ secrets.SOURCE_REGISTRY_USER }}"
      # SOURCE_REGISTRY_PASSWORD: "${{ secrets.SOURCE_REGISTRY_PASSWORD }}"

      # Containerfile to build
      CONTAINERFILE: ./bootc-rhel/Containerfile

      # Destination image namespace and name (eg: myrepo/myimage)
      DEST_IMAGE: "${{ github.actor }}/${{github.event.repository.name}}"

      # List of tags to publish
      # For main branch: 'latest' and commit SHA
      # For other branches/PRs: branch name and commit SHA
      TAGLIST: ${{ github.ref == 'refs/heads/main' && 'latest' || github.head_ref }} ${{ github.sha }}

      # Destination registry for built images
      DEST_REGISTRY_HOST: "ghcr.io"
      # Destination credentials - uses platform variables and secrets
      # DEST_REGISTRY_USER: "${{ github.actor }}"
      # DEST_REGISTRY_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"

    container:
      image: registry.access.redhat.com/ubi9/ubi
      options: --privileged
    permissions:
      contents: write
      packages: write

    steps:
      - name: Clone the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Get container tools in UBI builder
        run: dnf -y install podman buildah skopeo

      - name: Access a subscription via activation key
        run: subscription-manager register --org=${{ secrets.RHT_ORGID }} --activationkey=${{ secrets.RHT_ACT_KEY }}

      # workaround for https://github.com/redhat-actions/podman-login/issues/42 since the docker config from the host doesn't come up to the container
      - name: Workaround open podman-login action issue
        env:
          auth: '{ "auths": {} }'
        run: |
          mkdir -p $HOME/.docker
          echo $auth > $HOME/.docker/config.json

      - name: Log in to the RHT terms based registry
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603
        with:
          registry: ${{ env.SOURCE_REGISTRY_HOST }}
          username: ${{ secrets.SOURCE_REGISTRY_USER }}
          password: ${{ secrets.SOURCE_REGISTRY_PASSWORD }}
          auth_file_path: /run/containers/0/auth.json

      - name: Use buildah bud to create the image
        id: build-image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056
        with:
          context: ./bootc-rhel/
          image: ${{ env.DEST_IMAGE }}
          tags: ${{ env.TAGLIST }}
          containerfiles: ${{ env.CONTAINERFILE }}

      - name: Log in to the GitHub Container registry
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603
        with:
          registry: ${{ env.DEST_REGISTRY_HOST }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          auth_file_path: /run/containers/0/auth.json

      - name: Push to GitHub Container Repository
        id: push-to-ghcr
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ${{ env.DEST_REGISTRY_HOST }}

      - name: Clean up the subscription
        if: always()
        run: subscription-manager unregister
